/* You can add global styles to this file, and also import other style files */
body {
  padding: 20px;
  background-color: #81878d;
  font-family: "Roboto", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}